html,
body {
  min-width: 1122px;
  max-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url('../img/tint.jpg') no-repeat center top;
}

.pages {
  background: #f8f5f2 url('C:/Users/ARTUR/Desktop/project/project/img/pattern-white.png');
  color: #000000;
  min-width: 1200px;
  min-height: 900px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*   центровщик */
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  color: #ffffff;
  background-color: #000000;
}

.main-header.page {
  margin-bottom: 0px;
}

.main-navigation {
  min-width: 780px;
  float: left;
}

.main-navigation ul {
  margin: 0; /*убрать отступы*/
  padding: 0;
  list-style: none; /*убрать точки*/
  font-size: 0; /*убрать отступы у букв*/
}

.main-navigation li {
  display: inline-block; /*чтобы элементы выстроились в ряд*/
  vertical-align: top; /*Выравнивание текста*/
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block; /*для паддингов*/
  padding: 25px 20px; /*отступы для того, чтобы высота хедера была 70пкс*/
  color: #ffffff;
  text-decoration: none; /*убираем подчеркивание ссылок*/
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  max-width: 140px;
  float: right;
}

.login {
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: transparent url('../img/login-arrow.svg') no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 60px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 35px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute; /*позиционируем кубики*/
  bottom: 0; /*прикрепление относительно нижней части заголовка*/
  left: 50%; /*центрирование*/
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg); /*разворот кубиков*/
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000000;

  background: url('C:/Users/ARTUR/Desktop/project/project/img/index-content-shadow.png') no-repeat center, #f8f5f2 url('C:/Users/ARTUR/Desktop/project/project/img/pattern-white.png');
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0px;
  padding: 0px;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

/*определяем стили для формы*/
.appointment-form input {
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.appointment-form input:focus {
  border: 2px solid #663d15; /*цвет рамки при нажатии на поле формы*/
}

.appointment-form input:nth-child(2n) {
  margin-right: 0px;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*SHOP PAGE*/

.shop-title {
  margin: 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}

.breadcrumbs a {
  display: block;
  position: relative;
  color: #000000;
  text-decoration: none;
  padding-right: 30px;
}

.breadcrumbs a::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  right: 10px;
  bottom: 8px;
  transform: rotate(45deg);
}

.shop-main {
  width: 940px;
  height: 592px;
  margin-bottom: 45px;
  margin-top: 55px;
}

.shop-form {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.shop-fieldset-legend {
  margin-bottom: 35px;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 42px;
}

.shop-assortment {
  float: left;
  width: 700px;
  height: 592px;
  padding: 0px;
}

.shop-item,
.shop-fieldset-1,
.shop-fieldset-2 {
  width: 220px;
  height: 286px;
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
}

.shop-item:nth-child(1),
.shop-item:nth-child(4) {
  margin-left: 0;
  margin-right: 20px;
}

.shop-item:nth-child(3),
.shop-item:nth-child(6) {
  margin-right: auto;
  margin-left: 20px;
}

.shop-item:nth-child(1),
.shop-item:nth-child(2),
.shop-item:nth-child(3) {
  margin-bottom: 20px;
}

.shop-item {
  background-color: #ffffff;
}

.item-link span {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.shop-item a {
  text-decoration: none;
}

.shop-item-name,
.item-order {
  margin-left: 16px;
}

.shop-item-name {
  margin-top: 17px;
  margin-bottom: 17px;
}

.item-order {
  margin-bottom: 16px;
}

.paginator {
  width: 193px;
  height: 43px;
  margin-bottom: -16px;
  margin-left: 240px;
  background: white;
  white-space: nowrap;
}

.paginator a {
  display: inline-block;
  width: 43px;
  height: 43px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: black;
  margin-right: 7px;
  line-height: 40px;
}

.paginator .current {
  background: white;
  color: black;
}

/*ITEM PAGE*/

/*PRICELIST*/

.item-title {
  margin: 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px;
}

.price-name ul {
  margin: 0;
  padding: 0;
}

.price-name {
  margin-bottom: 50px;
}

.price-list-name {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  padding-left: 80px;
}

.price-list {
  margin-bottom: 60px;
}

.price-content-left {
  width: 380px;
  float: left;
  margin-right: 20px;
}

.price-content-right {
  width: 460px;
  float: right;
}

.price-content-title {
  margin-bottom: 30px;
}

.price-preview {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-preview li {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  min-width: 160px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 17px;
}

.price-preview li::before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  left: 2px;
  top: 8px;
  transform: rotate(45deg);
}

.price-preview li:last-child {
  margin-bottom: 0px;
}

.pricelist {
  border-collapse: collapse;
}

.pricelist td {
  border: 2px solid #000000;
  width: 180px;
  height: 42px;
}

.price-title {
  padding-left: 19px;
}

.price {
  text-align: center;
}

.price-content {
  padding-bottom: 55px;
}


.price-content--right .price-content-title {
  font-size: 0;
}

/*FOOTER*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;

  background: #252525 url('../img/footer-pattern.jng');
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url('') no-repeat center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.social-btn-vk {
  background-position: 9px -447px;
}

.social-btn-fb {
  background-position: 15px -171px;
}
